@import "./variable";
@import "./mixing";
@import "./mediaQuery";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
// body

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
b,
body,
ul {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

ul {
  list-style: none;
}
a {
  color: unset;
  text-decoration: none;
}

input:focus {
  outline: none;
}

.text {
  font-size: 1.125rem;
  @include phn() {
    font-size: 1rem;
  }
}

.heading {
  font-size: 1.8rem;
  color: $primary-color;
}
.heading-sub-text {
  color: #73726c;
  font-size: 1.1rem;
}

.container {
  width: 85%;
  margin: 0 auto;
  @include tab() {
    width: 95%;
  }
}

// Alert
.alert {
  background: $alert-bg;
  padding: 1rem;
  color: darken($alert-bg, 50);
  @include flex(space-between);
  @include C875() {
    align-items: start;
  }
  p {
    &:first-child {
      width: 100%;
      margin-right: 20px;
      @include C875() {
        text-align: left;
      }
    }
    &:last-child {
      cursor: pointer;
    }
  }
}

// header
header {
  box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.75);
  padding: 10px 10px;
  color: $primary-color;
  @include tab() {
    display: none;
    .login {
      order: -1;
    }
    .signup {
      order: -1;
    }
    .categories-menu {
      order: 1;
    }
    .business-menu {
      order: 1;
    }
    .teach {
      order: 1;
    }
    .cart {
      order: 1;
    }
    form {
      order: 1;
    }
  }
  nav {
    @include flex(space-between);
    .logo img {
      width: 100px;
    }
    ul ul {
      display: none;
    }
    form {
      label {
        position: relative;
        @include flex(unset);

        input {
          padding: 10px;
          border-radius: 100px;
          width: 46rem;
          padding-left: 40px;
          font-size: 1.05rem;
          border: 1px solid $primary-color;
          height: 1.5rem;
          @include tab() {
            display: none;
          }
        }
        i {
          position: absolute;
          left: 15px;
          color: $primary-color;
        }
      }
    }
  }
  a i::before {
    font-size: 1.4rem;
    color: $primary-color;
  }
}

// banner
.banner {
  background: url(https://i.ibb.co/P5bN6bj/7cf844b2-4371-45ea-9ef5-e10ea212eac2-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 50px 100px;
  &-content {
    background: white;
    max-width: 26rem;
    color: $primary-color;
    padding: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
    h1 {
      font-size: 2.5rem;
    }
    p {
      font-size: 1.3rem;
      margin: 0.8rem 20px 0.8rem 0;
    }
    input {
      width: 100%;
      padding: 14px 10px;
      border-radius: 2px;
      border: 1px solid $primary-color;
      box-sizing: border-box;
    }
  }
}

// courses
section.courses {
  padding: 4rem 0;

  .course {
    margin-top: 2rem;
    ul {
      display: grid;
      grid-auto-columns: max-content;
      grid-auto-flow: column;
      grid-gap: 1.6rem;
      font-size: 1.2rem;
      font-weight: 500;
      color: #73726c;
      text-transform: capitalize;
      line-height: 3;
      border-bottom: 1px solid gray;
      .active {
        border-bottom: 2px solid;
      }
      li {
        cursor: pointer;
      }
    }
    .courses-container {
      @include flex(unset);
      .course {
        width: 20%;
        img {
          border-radius: 5px;
        }
        h4 {
          font-size: 1rem;
          margin-top: 0.8rem;
          margin-bottom: 0.4rem;
          font-weight: 700;
          line-height: 1.2;
          letter-spacing: -0.02rem;
          font-size: 1.15rem;
        }
        .review {
          @include flex(unset);
          p {
            margin-right: 2px;
            color: #eb8a2f;
            font-weight: bold;
          }
          margin-bottom: 0.3rem;
        }
        .price {
          @include flex(unset);

          p:first-child {
            margin-right: 10px;
            font-weight: bold;
          }
          p.discount {
            position: relative;
            color: #73726c;
            font-size: 0.8rem;

            &::after {
              content: "";
              position: absolute;
              height: 1px;
              width: 100%;
              background: #73726c;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
      }
    }
  }
}

// Get start
.getStart {
  background: url(https://s.udemycdn.com/browse_components/shared-assets/purple-intersect.svg)
    #6e1a52;
  padding: 50px;
  text-align: center;
  color: white;
  p {
    margin: 10px;
    margin-bottom: 30px;
    font-size: 1.3rem;
  }
  h2 {
    font-size: 2rem;
  }
  .btn {
    color: white;
    border-color: white;
  }
}

// categories
.categories {
  padding: 4rem 0;
  color: $primary-color;
  h2 {
    margin-bottom: 1.6rem;
    font-size: 1.7rem;
  }
  &-container {
    @include flex(space-between);
    flex-wrap: wrap;
    .category {
      border: 1px solid #dcdacb;
      border-radius: 3px;
      img {
        display: block;
      }
      h3 {
        padding: 20px 20px 30px;
        font-size: 1.3rem;
      }
    }
  }
}

// instructor
.instructor {
  color: $primary-color;
  position: relative;
  &-container {
    @include flex(center);
    position: inherit;
    z-index: 3;
    p {
      font-size: 1.2rem;
      margin: 10px 0px 50px;
      font-weight: 500;
    }
    img {
      margin-right: 4rem;
    }
    h2 {
      font-size: 2.4rem;
    }
    .btn-bg {
      padding: 15px;
    }
  }
  &-bg {
    z-index: 1;
    height: 300px;
    background: #fbfbf8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}

// companies
.companies {
  margin: 3rem 0;
  color: $primary-color;
  border: 1px solid #dcdacb;
  border-left: 0;
  border-right: 0;
  &-container {
    width: 40%;
    margin: 0 auto;
    @include flex(space-between);
    img.mercedes {
      width: 151px;
    }
    a {
      margin: 30px 20px;
    }
  }
  h2 {
    padding-top: 30px;
    font-size: 2rem;
  }
}

// business
.business {
  color: white;
  margin: 3rem 0;
  &-bg {
    background: #003640;
  }
  img {
    margin: 0;
  }
  &-left {
    margin-right: 4rem;
  }
}

// education
.education {
  border: 1px solid #dcdacb;
  border-left: 0;
  border-right: 0;
  padding: 4rem 0;
  &-left {
    margin: 0;
    img {
      margin: 0;
    }
    .play {
      position: relative;
      cursor: pointer;
      &-button img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70px;
        border-radius: 50%;
        background: white;
      }
    }
    .video {
      background: black;
      width: 560px;
      height: 315px;
      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }
  &-right {
    margin-left: 4rem;
  }
}

// Footer
footer {
  padding: 2.4rem 4.8rem;
  .header {
    @include flex(space-between);
    align-items: start;
    .menu {
      @include flex(space-between);
      min-width: 55%;
      li {
        margin: 0.8rem 0;
        a {
          color: #007791;
          &:hover {
            color: darken(#007791, 10%);
          }
        }
      }
    }
  }
  .footer {
    margin-top: 3rem;
    @include flex(space-between);
    img {
      width: 100px;
    }
    p {
      color: #73726c;
      font-size: 0.7rem;
    }
  }
}
