@import "./variable";
@import "./mixing";
@import "./mediaQuery";
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700&display=swap");

// body

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
b,
body,
ul {
  margin: 0;
  padding: 0;
  font-family: "Tajawal", sans-serif;
}

ul {
  list-style: none;
}
a {
  color: unset;
  text-decoration: none;
}

input:focus {
  outline: none;
}

.text {
  font-size: 1.125rem;
  @include phn() {
    font-size: 1rem;
  }
}

// Alert
.alert {
  background: $alert-bg;
  padding: 1rem;
  color: darken($alert-bg, 50);
  @include flex(space-between);
  @include C875() {
    align-items: start;
  }
  p {
    &:first-child {
      width: 100%;
      margin-right: 20px;
      @include C875() {
        text-align: left;
      }
    }
    &:last-child {
      cursor: pointer;
    }
  }
}

// header
header {
  box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.75);
  padding: 10px 10px;
  color: $primary-color;
  nav {
    @include flex(space-between);
    .logo img {
      width: 100px;
    }
    ul ul {
      display: none;
    }
    form {
      label {
        position: relative;
        @include flex(unset);

        input {
          padding: 10px;
          border-radius: 100px;
          width: 46rem;
          padding-left: 40px;
          font-size: 1.05rem;
          border: 1px solid $primary-color;
          height: 1.5rem;
        }
        i {
          position: absolute;
          left: 15px;
          color: $primary-color;
        }
      }
    }
  }
  a i::before {
    font-size: 1.4rem;
    color: $primary-color;
  }
}
